[*.cs]

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# Validate arguments of public methods 因为开启了Nullable，确保所有调用被调用项目全是NRT
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CS8601.severity = none
dotnet_diagnostic.CA1014.severity = none

#CA1812:避免未实例化的内部类
dotnet_diagnostic.CA1812.severity = none

#CA1040:避免使用空接口
dotnet_diagnostic.CA1040.severity = none